%h1 Listing games

%table
  %tr
    %th Name
    %th
    %th
    %th

  - @games.each do |game|
    %tr
      %td= game.name
      %td= link_to 'Show', game
      %td= link_to 'Edit', edit_game_path(game)
      %td= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
