= form_for @game_session do |f|
  - if @game_session.errors.any?
    #error_explanation
      %h2= "#{pluralize(@game_session.errors.count, "error")} prohibited this game_session from being saved:"
      %ul
        - @game_session.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
