%h1 Listing game_sessions

%table
  %tr
    %th
    %th
    %th

  - @game_sessions.each do |game_session|
    %tr
      %td= link_to 'Show', game_session
      %td= link_to 'Edit', edit_game_session_path(game_session)
      %td= link_to 'Destroy', game_session, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Game session', new_game_session_path
