= form_for @developer do |f|
  - if @developer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@developer.errors.count, "error")} prohibited this developer from being saved:"
      %ul
        - @developer.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
